*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.scss linguist-language=Sass
*.css linguist-language=CSS