*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.scss linguist-language=Sass


path/to/large/file linguist-vendored
docs/* linguist-documentation
examples/* linguist-examples
path/to/assets/style/all.css linguist-vendored
